<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= if authenticated?(@conn) do %>
      <%= tag :meta, name: "token", content: authentication_token(@conn) %>
    <% end %>
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title(@conn) %></title>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar is-warning" role="navigation" aria-label="dropdown navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
        </div>

        <div class="navbar-end">
          <%= if authenticated?(@conn) do %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link"><%= @current_user.username %></a>

              <div class="navbar-dropdown is-right">
                <a class="navbar-item" href="<%= Routes.user_path(@conn, :show, @current_user) %>">Profile</a>
                <a class="navbar-item" href="<%= Routes.user_path(@conn, :edit_profile) %>">Settings</a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="<%= Routes.session_path(@conn, :delete) %>">Logout</a>
              </div>
            </div>
          <% else %>
            <a class="navbar-item" href="<%= Routes.user_path(@conn, :new) %>">Register</a>
            <a class="navbar-item" href="<%= Routes.session_path(@conn, :new, session_params(@conn)) %>">Login</a>
          <% end %>
        </div>
        </div>
      </div>
    </nav>

    <main class="section">
      <div class="container">
        <%= if info = get_flash(@conn, :info) do %>
          <article class="message is-primary is-small">
            <div class="message-header">
              <p>Info</p>
              <button class="delete is-small" aria-label="delete"></button>
            </div>
            <div class="message-body"><%= info %></div>
          </article>
        <% end %>
        <%= if error = get_flash(@conn, :error) do %>
          <article class="message is-danger is-small">
            <div class="message-header">
              <p>Error</p>
              <button class="delete is-small" aria-label="delete"></button>
            </div>
            <div class="message-body"><%= error %></div>
          </article>
        <% end %>

        <%= render_inner_layout(@conn, assigns) %>
      </div>
    </main>

    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
