<%= render_layout "error.html", assigns do %>
  <div class="content">
    <p>The page you are looking for requires user authentication.</p>
    <p>You might try to <a class="has-text-black" href="<%= Routes.session_path(@conn, :new, redirect_to: @conn.request_path) %>">sign-in</a> in order to resolve the issue.</p>
  </div>
<% end %>
