<%= render_layout "error.html", assigns do %>
  <div class="content">
    <p>The page you were looking for could not be found.</p>
    <p>It might have been removed, renamed, or did not exist in the first place.</p>
  </div>
<% end %>
