<h2>Login</h2>

<%= form_for @conn, authentication_path(@conn, :create), [as: :credentials], fn f -> %>
  <div class="form-group">
    <label>Login</label>
    <%= text_input f, :email_or_username, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Password</label>
    <%= password_input f, :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Login", class: "btn btn-primary" %>
  </div>
<% end %>
