<%= if Enum.empty?(@user.repositories) do %>
  Nothing to see here.
<% else %>
  <%= for repo <- @user.repositories do %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="<%= repository_path @conn, :show, @user, repo %>"><%= repo.name %></a>
      </div>
      <div class="panel-body">
        <%= repo.description %>
      </div>
    </div>
  <% end %>
<% end %>
