<aside class="menu column is-one-fifth">
  <ul class="menu-list">
    <li>
      <%= navigation_item @conn, :repository, :edit, :a, href: repository_path(@conn, :edit, @repo.owner, @repo) do %>Settings<% end %>
    </li>
  </ul>
</aside>
