<h2 class="subtitle">Commits</h2>

<ul>
  <%= for commit <- @commits do %>
    <li><a href="<%= repository_path(@conn, :commit, @repo, @repo.owner, commit.oid) %>"><%= commit.message %></a></li>
  <% end %>
</ul>
