<h2 class="subtitle">Commits</h2>

<ul>
  <%= for commit <- @commits do %>
    <li>
      <a href="<%= repository_path(@conn, :commit, @repo, @repo.owner, oid_fmt(commit.oid)) %>"><%= commit_message_title(commit) %></a>
    </li>
  <% end %>
</ul>
