<h2 class="subtitle">Tags</h2>

<ul>
  <%= for tag <- @tags do %>
    <li><a href="<%= repository_path(@conn, :tree, @repo.owner, @repo, tag.shorthand, []) %>"><%= tag.shorthand %></a></li>
  <% end %>
</ul>
