<%= if Enum.empty?(@tree_path) do %>
  <p><%= @repo.description %></p>
<% end %>

<%= render "_branch_select.html", assigns %>

<%= unless Enum.empty?(@tree_path) do %>
  <%= render "_tree_breadcrumb.html", assigns %>
<% end %>

<%= render "_tree_table.html", assigns %>
