You're receiving this email because you requested a password reset for the user <%= @user.login %>.

Click the following link to choose a new password:
<%= Routes.user_url(GitGud.Web.Endpoint, :verify_password_reset, @token) %>
