<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <%= branch_select(@conn) %>
    </div>
    <div class="level-item">
      <%= render "_tree_breadcrumb.html", assigns %>
    </div>
  </div>
</nav>

<pre>
  <code>
    <%= blob_content(@blob) %>
  </code>
</pre>
