# App artifacts
/_build
/db
/deps
/*.ez

# Generated on crash by the VM.
erl_crash.dump

# Files matching config/*.secret.exs pattern contain sensitive
# data and you should not commit them into version control.
/config/*.secret.exs

# Storage for Git data repositories.
/priv/git-data

# SSH public/private keys for Git SSH support.
/priv/ssh-keys
