@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700|Work+Sans:400,600,700');

@import "~bulma/sass/utilities/_all";

$family-sans-serif: "Work Sans", sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: "Fira Sans", sans-serif;

$navbar-item-img-max-height: 3rem;

$widescreen-enabled: false;
$fullhd-enabled: false;

@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/_all";
@import "~bulma/sass/components/_all";
@import "~bulma/sass/form/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/layout/_all";

$divider-background-color: $white-ter;
$divider-thickness: $hr-height;

@import "~bulma-divider/src/sass/index";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";

@import "../../../../deps/phoenix_live_view/assets/css/live_view.css";

main.container {
  padding: 2rem 0;
}

nav.navbar {
  .search {
    input {
      width: 18rem;
      border: 0;
      box-shadow: none;
      background-color: $white-ter;

      &::placeholder {
        font-weight: $weight-semibold;
      }
    }

    .dropdown {
      .dropdown-menu {
        width: 18rem;
      }
    }
  }
}

table.table {
  &.has-outer-border {
    border: 1px solid $grey-lighter;
  }

  tr td.is-vcentered {
    vertical-align: middle;
  }
}

.hero {
  .hero-body {
    padding: 3rem 0;
    .hero-banner {
      position: absolute;
    }
  }
}

.title, .subtitle {
  font-family: $family-secondary;
}

.avatar {
  margin: 0 2px;
  border-radius: 4px;
  vertical-align: text-bottom;

  &.is-small {
    border-radius: 2px;
  }
}

@keyframes slideDown {
    0%, 100% { transform: translateY(-100px); }
    5%, 95% { transform: translateY(0px); }
}

.message {
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  z-index: 99;
  min-width: 20rem;
  transform: translateY(-100px);
  animation: slideDown 4s 0 1 ease forwards;
}

.commit {
  font-family: $family-monospace;
}

.button {
  &.github {
    color: $white-bis;
    border-color: transparent;
    background-color: #4078c0;
  }

  &.gitlab {
    color: $white-bis;
    border-color: transparent;
    background-color: #fca326;
  }

  &.bitbucket {
    color: $white-bis;
    border-color: transparent;
    background-color: #205081;
  }
}

.user-profile {
  ul {
    li {
      font-size: 0.875em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.branch-select {
  .dropdown {
    .dropdown-menu {
      .panel {
        background-color: $dropdown-content-background-color;
      }
      .panel-block {
        font-size: 0.875em;

        &:last-child {
          border-bottom-left-radius: $radius;
          border-bottom-right-radius: $radius;
        }
      }
    }
  }
}

.user-input {
  .dropdown {
    display: block;
    .input.field {
      .control:not(:last-child) {
        margin-right: 0;
      }
      .tag {
        padding-left: 1px;
        padding-right: 0;
      }
    }
    .dropdown-menu {
      width: 100%;
    }
  }
}

.clone-dropdown {
  .dropdown {
    .dropdown-menu {
      width: 20rem;
    }
  }
}

.card.blob {
  .card-content {
    padding: 0;
    border-top: 1px solid $grey-lighter;
    overflow-x: scroll;
  }
}

.log-message pre {
  padding: 0;
  color: $grey;
  background-color: $white;
}

table.blob-table {
  border-collapse: separate;
  width: 100%;
  margin: 1rem 0;

  tbody {
    tr {
      td {
        &.line-no {
          font-size: 0.875em;
          font-family: $family-monospace;
          -moz-osx-font-smoothing: auto;
          -webkit-font-smoothing: auto;
          width: 1%;
          min-width: 50px;
          padding-left: 10px;
          padding-right: 10px;
          text-align: right;
          vertical-align: top;
          white-space: nowrap;
          color: rgba(27,31,35,.3);
        }

        &.code {
          font-size: 0.875em;
          font-family: $family-monospace;
          -moz-osx-font-smoothing: auto;
          -webkit-font-smoothing: auto;
          padding-left: 10px;
          padding-right: 10px;
          vertical-align: top;

          .code-inner {
            overflow: visible;
            white-space: pre;
            word-wrap: normal;

            &.hljs {
              padding: 0;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

.inline-comments {
  .comment, .comment-form {
    @extend .box;
    max-width: 780px;
    margin: 1rem;
  }
}

table.diff-table {
  margin-top: 0;

  tbody {
    tr {
      &.hunk {
        td {
          &.line-no {
            vertical-align: middle;
            background-color: $white-ter;
          }

          &.code {
            color: rgba(27,31,35,.7);
            background-color: $white-bis;
            border-width: 1px 0;
            padding-bottom: 4px;
            padding-top: 4px;
          }

        }
      }

      &.inline-comments {
        td {
          border-top: 1px solid $grey-lighter;
          border-bottom: 1px solid $grey-lighter;
          background-color: $white-bis;
        }
      }

      &.diff-addition {
        td {
          background-color: #cdffd8;
          border-color: #bef5cb;

          &.code {
            background-color: #e6ffed;
          }
        }
      }

      &.diff-deletion {
        td {
          background-color: #ffdce0;
          border-color: #fdaeb7;

          &.code {
            background-color: #ffeef0;
          }
        }
      }

      td {
        &.code {
          &.origin {
            position: relative;
            width: 1em;

            button {
              position: absolute;
              margin: -3px 0 0 -24px;
              float: left;
              border-radius: 50%;
              opacity: 0;
              display: none;
              transform: scale(.7);
              transition: transform .1s ease-in-out;
              z-index: 5;

              .icon i {
                margin-top: 2px;
              }
            }

            &.is-active {
              button {
                opacity: 1;
                display: block;

                &:hover {
                  transform: scale(1);
                }
              }
            }
          }
        }
      }
    }
  }
}
